<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
      <label for="name">
        Vārds
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
    <label for="lastName">
      Uzvārds
    </label>
    <input id="nalastNameme" type="text" formControlName="lastName">
  </div>
  <div>
  <label for="companyName">
    Uzņēmuma vārds
  </label>
  <input id="companyName" type="text" formControlName="ncompanyNameame">
</div>
  <button class="button" type="submit">Fill</button>

</form>
